name: Deploy to GitHub Pages
on:
  push:
    branches: [ main, master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install pygbag
        run: |
          python -m pip install --upgrade pip
          pip install pygbag

      - name: Build Web Version
        run: |
          # Use --build to just generate the files in build/web
          python -m pygbag --build .

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/web # The folder the action should deploy.
          branch: gh-pages # The branch the action should deploy to.
